.ckorangebg {
  background-color: #ff8000 !important;
}
.ckorangetxt {
    color: #ff8000 !important;
}
.cktxt {
    color: #000000 !important;
}

.cklightbg {
    background-color: #f9f9f9 !important;
}

