/*
Crohn's Kitchen main styling
Version: 1
Date: Dec 2014
*/

html {
	background-color: #fff;
}

#header-bg {
	display: block;
	background-color: #fff;
	height: 100px;
}

#header-content {
	min-width: 600px;
	max-width: 1200px;
	margin: auto;
	font-family: "Helvetica", sans-serif;
}

#header-content a {
	color: #444;
	text-decoration: none;
}

#header-logo {
	width: 100px;
	height: 100%;
	position: relative;
	top: 20px;
	padding-right: 20px;
	display: inline;
	float: left;
}

#header-title {
	width: 300px;
	margin-left: 40px;
	margin-top: 15px;
	float: left;
}
#header-title p {
	color: #000;
	font-size: 135%;
}

#header-byline {
	font-size: 75%;
	color: #222;
	margin-top: -20px;
	margin-left: 20px;
}

#header-sidebar {
	display: inline;
	width: 200px;
	color: #222;
	text-decoration: none;
	font-weight: normal;
	font-size: 0.9em;
	float: right;
	text-align: right;
}
#header-sidebar li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#nav {
	display: block;
	/*background-color: #EEE;*/
	width: 900px;
	margin: auto;
}

hr {
    display: block;
    height: 10px;
    border: 0;
    border-top: 5px solid #eee;
    margin: 0;
    padding: 0;
	width: 100%;
}

a.button {
	display: inline-block;
	padding: 10px 25px;
	background-color: rgba(255,255,255,0.35);
	cursor: default;
	margin: 0;
	color: #000;
	text-decoration: none;
}
a.button:hover {
	background-color: rgba(255,255,255,0.9);
}

body.main-page a.current-page {
/* current page */
background: #efe;
font-weight: bold;
}

#pagecontent {
	width: 900px;
	background-color: #eee;
	margin: auto;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 10px;
	padding-right: 10px;
}

#pagecontent h2 {
	margin: 0;
	font-family: "Helvetica", sans-serif;
	color: #000;
}

#pagecontent h3, h4, h5 {
	color: #000;
	font-family: "Helvetica", sans-serif;
	text-decoration: none;
	font-weight: normal;
	margin-bottom: -0.5em;
}

#pagecontent p {
	padding-left: 5px;
	padding-right: 5px;
}


#main img{
}

body {
	margin: 0;
}

footer {
	background-color: #eee;
	width: 900px;
	border: 0;
	margin: auto;
	height: 110px;
	color: #f00;
	font-family: "Helvetica", sans-serif;
	font-weight: bold;
}

footer p {
	margin: 0;
	padding: 0px 10px 10px 10px;
	font-family: "Helvetica", sans-serif;
	font-weight: bold;
	font-size: 0.9em;
}

.footer-nav {
	background-color: #eee;
	color: #aaa;
	width: 900px;
	border: 0;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2px;
	clear: both;
	height: 32px;
	line-height: 32px;
	padding-left: 10px;
	padding-right: 10px;
	font-weight: normal;
	font-size: 85%;
}

.footer-nav a {
	color: #000;
	text-decoration: none;
	padding-left: 8px;
	padding-right: 8px;
}

.footer-nav img {
	padding-right: 12px;
	position: relative;
	top: 2px;
}

footer {
	font-weight: normal;
	text-decoration: none;
}

footer h4 {
	margin: 0;
	padding-left: 10px;
	font-weight: bold;
}

footer p {
	color: #000;
	font-weight: lighter;
}
footer a {
	text-decoration: none;
	color: #000;

}
footer .footer-nav a {
	color: #aaa;
}
/* Page specific items */

#form {
	/*background-color: #AAD;*/
	margin: auto;
	width: 90%;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #000;
}

#form ul {
	margin: auto;
	width: 20%;
}

table {
	border-collapse: collapse;
	}

th, td, tr {
	border: 2px solid black;
}

#smallform {
	background-color: #f00;
	margin: auto;
	text-decoration: none;
	vertical-align: middle;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-left: 10px;
	color: #0f0;
	width: 50%;
}

#smallform h2 {
	font-family: "Helvetica", sans-serif;
	color: #020;
}

.leftalign {
	text-align: left !important;
}
.rightalign {
	text-align: right !important;
}

.indented {
margin-left: 40%;
}

/* Override the Google Chrome 'useragent stylesheet' with very specific css */
input[type="button"], input[type="submit"], button {
	display: inline-block;
	padding: 10px 25px;
	background-color: #bfa739;
	cursor: default;
	margin: 0;
	color: #000;
	text-decoration: none;
	border: 0;
	font-family: "Helvetica", sans-serif;
	width: 100%;
}