/*
 * Crohn's Kitchen article styling
 * author: freezurbern
 * date: Jan 2015
*/

@import url("content/table.css");
@import url("content/form.css");

article h1, h2, h3, h4, h5 {
	color: #000;
	font-family: 'Droid Sans', sans-serif;
	text-decoration: none;
	font-weight: normal;
}

article h2 {
	font-size: 1.75em;
}
article h3 {
	font-size: 1.5em;
}
article h4 {
	font-size: 1.25em;
}
article h5 {
	font-size: 1.15em;
}

article p {
	padding: 0;
	padding-left: 1em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
}

article hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	
	margin-top: 1em;
	margin-bottom: 1em;
}

legend {
	font-family: 'Droid Sans', sans-serif;
	font-size: 1.5em;
	padding-left: 0.5em;
	padding-top: 0.5em;
	background-color: #DDD;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	padding-right: 0.5em;
	line-height: 0.5em;
}

fieldset {
	background-color: #DDD;
	padding: 0.5em;
	border-radius: 5px;
}
