pre {
	background-color: #A9A9A9;
	width: 50%;
	overflow-x: auto;
	overflow-y: hidden;
	font-family: Consolas, "Lucida Console", Monaco, monospace;
	
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;

	border-right: 1px solid rgb(255, 128, 0);
	border-top: 1px solid rgb(255, 196, 0);
	border-bottom: 1px solid rgb(196, 64, 0);
	
	margin-top: 1em;
	margin-bottom: 1em;
	
}
pre:hover {
	position: relative;
	background-color: #BBB;
	z-index: 99;
}
pre::after {
	content: "";
	z-index: 99;
	border-left: 0.5em solid rgb(255,128,0);
}

