/*
 * Crohn's Kitchen styling
 * content -> form
 * author: freezurbern
 * date: Jan 2015
*/

.skinny {
	width: 20em;
}

form {
	display: block;
	clear: both;
	max-width: 48em;
	min-width: 16em;
	line-height: 2em;
}

legend {
	font-family: 'Droid Sans', sans-serif;
	font-size: 1.5em;
	padding-left: 0.5em;
	padding-top: 0.5em;
	background-color: #DDD;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	padding-right: 0.5em;
	line-height: 0.5em;
}

fieldset {
	background-color: #DDD;
	padding: 0.5em;
	border-radius: 5px;
}

input {
	float: right;
}

input[type="button"], 
input[type="submit"], 
input[type="reset"], 
input[type="file"] {
	margin: 0;

	font-size: 1.15em;
	background-color: #A9A9A9;
	color: #000;
	
	padding: 0.25em;
	border-radius: 8px;
	border: 1px solid black;
}

label {
	background-color: #A9A9A9;
	padding: 0.25em;
	border-radius: 5px;
}

input[type="radio"]:checked+label 
{
	font-weight: bold; 
	background-color: rgb(255, 196, 0);
} 

input[type="radio"] {
	visibility: hidden;

}

.fullwide {
	width: 100%;
}

