/*
 * Crohn's Kitchen styling
 * content -> table
 * author: freezurbern
 * date: Jan 2015
*/
table {
}
thead tr:first-child { 
    background-color: #404040;
	color: white;
	font-weight: bold;
}
th{
    width: 100px;
    box-shadow: inset 0px 1px #808080;
    border: 1px solid black;
    border-left: none;
    border-right: none;
}
td, th { width: 100px; height: 40px; }
thead td:first-child { border-left: 1px solid #808080; }
thead td:last-child { border-right: 1px solid #808080; }
tbody tr td:first-child { border-left: 1px solid #808080; }
tbody tr td:last-child { border-right: 1px solid #808080; }
tbody tr:first-child td { border-top: 1px solid #808080; }
tbody tr:last-child td { border-bottom: 1px solid #808080; }
tbody tr:last-child td:first-child { border-bottom-left-radius:5px; }
tbody tr:last-child td:last-child { border-bottom-right-radius:5px; }
tr {background-color: #ebebe9; }
tr:nth-child(odd) { background-color: white; }
thead tr:first-child th:first-child {
    border-top-left-radius:5px;
    border-left: 1px solid black;
}
thead tr:first-child th:last-child {
    border-top-right-radius:5px;
    border-right: 1px solid black;
}
tbody tr:hover { background-color: #ffc;}